* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: red;
	text-align: center;
}

h1 {
	font-size: 54px;
	font-family: Impact;
	color: black;
}

h2 {
	font-size: 27px;
	font-family: Fantasy;
	color: white;
}
